/**
 * Fontface declarations
 */
/*@font-face {
    font-family: 'klavika_medium';
    src: url('../fonts/KlavikaWebBasicMedium.eot'),
		 url('../fonts/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KlavikaWebBasicMedium.woff') format('woff'),
		 url('../fonts/KlavikaCH-MediumCond.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_regular';
    src: local("*"),
		 url('../fonts/KlavikaWebBasicRegular.eot'),
         url('../fonts/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KlavikaWebBasicRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/**
 * Header
 */
a {
	color: #4f709d;
}

body {
	/*font-family: "klavika_medium", sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-family: "Titillium Web", sans-serif;
	color: #434343;
	font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", sans-serif;
}

ul ul, ol ul {
	list-style:none;
	padding:0;
}

.floatleft {
	float: left;
}


/*body.logged-in header.navbar {
	margin-top: 46px;
}*/

header.meta {
	background-color: #222;
	border-top: 1px solid #777;
	/*max-height: 32px;*/
	color: white;
}

header.meta ul {
	list-style: none;
	padding: 0px;
}

header.meta li {
	display: inline-block;
	margin-right: 9px;
	/*height: 32px;*/
}

header.meta nav {
	padding-top: 7px;
}

header.meta .col-md-9 ul {
	margin: -11px 0 0 0;
	float: right;
}

header.meta .col-md-9 li {
	margin-right: 15px;
}

header.meta .request-quote-form form {
	padding: 1em 0;
	float: left;
	width: 100%;
}

header.meta .request-quote-form textarea {
	height: 130px;
}

header.meta span.sending {
	color: #777;
	display: none;
}

header.top .container>.row {
	position: relative;
	z-index: 100;
}



/*header.meta .send-btn {
	float: right;
}*/

#headerBg {
	background: #4f709d url("../images/home_middle.jpg") no-repeat center;
	background-size: cover;
	/*padding: 2.5em 0;*/
	height: 665px;
}
#squares {
	background:url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 665px;
}

body.about #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.about #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}

section.full {
	margin-top: 4em;
	margin-bottom: 2em;
	/*padding: 1em 0;*/
}

h1.logo {
	margin-top: 10px;
}

h1.logo a {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

h2 {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.bordered {
	border-bottom: 1px solid #354872;
}
.services h1.topBorder {
	border-top: 1px solid #354872;
	padding-top: 60px;
	margin-top: -30px;
}

.widget-banner ul li {
	list-style: none;
}

.widget-banner h1 {
	font-size:4em;
	text-transform:uppercase;
	color:#ffffff;
	font-weight:bold;
	margin-top:190px;
}

.widget-banner h2 {
	font-size:2.5em;
	color:#ffffff;
	margin-top:40px;
	text-transform:none;
	line-height:1.2;
}
body.job-board .col-md-6 {
	width:80%;
}
body.job-board .section-title.bordered {
	margin-top:0em;
}
footer .row {
	padding-top:30px;
}



/**
 * Global styles
 */
.uppercase {
	text-transform: uppercase;
}

.center,
.centre {
	text-align: center;
}

.skinny {
	margin: 1em 0 0.5em 0 !important;
	padding: 0px;
}

header .social-icons li a {
	text-align: left;
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 20px;
}

header .social-icons a.facebook {background-image: url("../images/social-icons/header/facebook.png");}
header .social-icons a.youtube  {background-image: url("../images/social-icons/header/youtube.png");}
header .social-icons a.twitter  {background-image: url("../images/social-icons/header/twitter.png");}
header .social-icons a.linkedin {background-image: url("../images/social-icons/header/linkedin.png");}
header .social-icons a.email    {background-image: url("../images/social-icons/header/mail.png");}

.grid {
	position: relative;
}

/*.aboutLeft {
	width:60%;
	float:left;
}*/
.aboutRight {
	float:right;
}
div.wpcf7-mail-sent-ok { 
	border:0px solid #fff !important;
	}


/**
 * Main menu dropdown
 */
.menu li>ul {
	display: none;
}

.menu li:hover>ul {
	display: list-item;
}

.menu a:hover {
	text-decoration: none;
}

.desktop-menu {
	margin-top: 7px;
}

.desktop-menu ul {
	padding: 0px;
	list-style: none;
	position: absolute;
}

.desktop-menu>ul>li {
	display: inline;
	float: left;
	margin-right: 2px;
	text-align: center;
}

.desktop-menu li a {
	display: block;
	padding: 3px 18px;
	font-size: 0.9em;
	color: white;
	min-width: 125px;
	text-transform: uppercase;
}

.desktop-menu li.menu-item-has-children:hover>a,
.desktop-menu li.menu-item-has-children>ul a,
.desktop-menu a:hover {
	background-color: rgba(51, 80, 132, 0.75);
}

.desktop-menu>ul>li.menu-item-has-children>a:hover,
.desktop-menu li.menu-item-has-children:hover>a {
	border-bottom: 1px solid white;
}

.desktop-menu li.menu-item-has-children>ul li a {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 0.8em;
}

.desktop-menu li.menu-item-has-children>ul a:hover,
.desktop-menu li.current-menu-item>a {
	background: rgba(255, 255, 255, 0.6) !important;
	color: #335084;
}

/**
 * Search elements
 */
.search input[type="text"] { /* search form */
	background-color: #919191;
	position: relative;
	border-width: 0px;
	padding: 3px;
	outline: 0;
	right: -4px;
	width: 135px;
}

.search input[type="image"] { /* search image icon */
	position: relative;
	top: 8px;
	left: 1px;
	background-color: #919191;
	padding: 6px 5px 5px;
}

/*.request-quote {
	background-color: rgb(51, 80, 132);
	text-align: center;
	color: white;
	display: block;
	padding: 5px;
	width: 161px;
	float: right;
}

.request-quote:hover {
	text-decoration: none;
	background-color: rgba(51, 80, 132, 0.7);
}*/

/**
 * Sidebar elements
 */
aside[class^="sidebar"] li {
	list-style: none;
}

/**
 * Section elements
 */
section.services {
	border-bottom: 1px solid #354872;
	position: relative;
	height: 180px;
	margin: 4em 0;
}

.item {
	display: block;
	background-repeat: no-repeat;
	min-height: 130px;
	background-position: center 10px;
	text-align: center;
	text-decoration: none !important;
	margin-bottom: 2em;
}

a.item {
	cursor: pointer;
}

section.services .item {
	width: 140px;
}

section.services .item:hover {
	background-color: #f6f6f6;
}

section.services .item.picker                 {background-image: url("../images/services/picker.png");}
section.services .item.picker:hover           {background-image: url("../images/services/picker_hover.png");}
section.services .item.heavy_hauling          {background-image: url("../images/services/heavy_hauling.png");}
section.services .item.heavy_hauling:hover    {background-image: url("../images/services/heavy_hauling_hover.png");}
section.services .item.location               {background-image: url("../images/services/location.png");}
section.services .item.location:hover         {background-image: url("../images/services/location_hover.png");}
section.services .item.oilfield_hauling       {background-image: url("../images/services/oilfield_hauling.png");}
section.services .item.oilfield_hauling:hover {background-image: url("../images/services/oilfield_hauling_hover.png");}
section.services .item.pipeline_hauling       {background-image: url("../images/services/pipeline_hauling.png");}
section.services .item.pipeline_hauling:hover {background-image: url("../images/services/pipeline_hauling_hover.png");}
section.services .item.stockpiling            {background-image: url("../images/services/stockpiling.png");}
section.services .item.stockpiling:hover      {background-image: url("../images/services/stockpiling_hover.png");}
section.services .item.storage                {background-image: url("../images/services/storage.png");}
section.services .item.storage:hover          {background-image: url("../images/services/storage_hover.png");}
section.services .item.stringing              {background-image: url("../images/services/stringing.png");}
section.services .item.stringing:hover        {background-image: url("../images/services/stringing_hover.png");}

body.services .icon.item {
	background-image: url("../images/sprite-servicespage-icons.png");
	background-repeat: no-repeat;
	background-position: left center;
	max-width: 205px;
}

body.services .item.picker                 {background-position: 0px 0px;}
/*body.services .item.picker:hover           {background-image: url("../images/services/picker_hover.png");}*/
body.services .item.heavy_hauling          {background-position: -620px -205px;}
/*body.services .item.heavy_hauling:hover    {background-image: url("../images/services/heavy_hauling_hover.png");}*/
body.services .item.location               {background-position: -410px -205px;}
/*body.services .item.location:hover         {background-image: url("../images/services/location_hover.png");}*/
body.services .item.oilfield_hauling       {background-position: -620px 0px;}
/*body.services .item.oilfield_hauling:hover {background-image: url("../images/services/oilfield_hauling_hover.png");}*/
body.services .item.pipeline_hauling       {background-position: -205px 0px;}
/*body.services .item.pipeline_hauling:hover {background-image: url("../images/services/pipeline_hauling_hover.png");}*/
body.services .item.stockpiling            {background-position: 0px -205px;}
/*body.services .item.stockpiling:hover      {background-image: url("../images/services/stockpiling_hover.png");}*/
body.services .item.storage                {background-position: -410px 0px;}
/*body.services .item.storage:hover          {background-image: url("../images/services/storage_hover.png");}*/
body.services .item.stringing              {background-position: -205px -205px;}
/*body.services .item.stringing:hover        {background-image: url("../images/services/stringing_hover.png");}*/

body.services .icon .item-desc {
	padding-top: 170px;
	font-size: 1.5em;
}

body.services .col-md-12.row .col-md-3 h2 {
	margin: 0 0 1em 0;
	font-size: 1.5em;
}

section.services .item-desc {
	margin-top: 100px;
	display: none;
}

.item:hover .item-desc {
	display: block;
}

section.services .view_all_services {
	position: absolute;
	right: 0px;
	top: 140px;
	height: auto;
	width: auto;
	margin: 0px;
}

section.services .view_all_services .item-desc {
	display: block;
	margin: 0px;
}

section.services .view_all_services:hover {
	background-color: transparent;
}

.qualities {
	margin: 0 auto;
	width: 560px;
}

.item.quality     {background-image: url("../images/qualities/quality.png");}
.item.consistency {background-image: url("../images/qualities/consistency.png");}
.item.safety      {background-image: url("../images/qualities/safety.png");}
.item.expertise   {background-image: url("../images/qualities/expertise.png");}

.qualities .item {
	height: 140px;
	background-position: center 60px;
	color: #3f3f3f;
	cursor: default;
}

.qualities .item-desc,
.item.link_box {
	text-transform: uppercase;
}

.item.read_more {
	background-image: url("../images/icon-pioneer-sm.png");
	top: 64px;
	left: -78px;
	padding:25px;
	padding: 50px 25px 10px;
	background-position-y: 38px;
}

body.home .item.read_more {
	background-image: url("../images/icon-pioneer-sm.png");
	top: 37px;
	left: -32px;
	padding:25px;
	padding: 50px 25px 10px;
	background-position-y: 38px;
}
body.home .item.white_square {
	width:193px;
	height:193px;
	background: rgba(255, 255, 255, 0.7);
	top: 37px;
	left: -32px;
	padding: 25px;
}
.read_more p {
	color: #fff;
	font-size: 1.3em;
	text-transform: uppercase;
	padding-top: 50px;
}

.blue_square {
	width:193px;
	height:193px;
	background-color: rgba(51, 80, 132, 0.5);
}

.item.white_square {
	width:193px;
	height:193px;
	background: rgba(255, 255, 255, 0.7);
	top: 64px;
	left: -78px;
	padding: 25px;
}

body.history .item.white_square,
body.history .item.blue_square {
	top: -1px;
}

body.about .item.read_more {
	background-image: url("../images/icon-pioneer-sm.png");
	top: -40px;
	left: -78px;
	padding:25px;
	padding: 50px 25px 10px;
	background-position-y: 38px;
}

body.about .read_more p {
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	padding-top: 50px;
}

body.about .blue_square {
	width:193px;
	height:193px;
	/*background-color: rgba(51, 80, 132, 0.5);*/
}

.read_more:hover {
	background-color: rgba(51, 80, 132, 0.8);
}

body.about .item.white_square {
	width:193px;
	height:193px;
	background: rgba(255, 255, 255, 0.7);
	top: -40px;
	left: -78px;
	padding: 25px;
}

.item.link_box {
	background: rgba(51, 80, 132, 0.4) no-repeat center 35px;
	padding-top: 110px;
	color: white;
	margin: 0;
	font-size: 1.1em;
	width: 195px;
	height: 195px;
}

.item.link_box:hover {
	background-color: rgba(51, 80, 132, 0.7);
}

.big {
	width: 860px;
	text-transform: uppercase;
	margin: 0 auto 2em auto;
}
.mapButton {
	background-color: #335084;
	padding:5px 10px;
	min-height:0;
	color:#fff;
}
.mapButton :hover {
	background-color: #e5e5e5;
	color:#434343;
	padding:5px 10px;
	min-height:0;
}
.dale, .miles {
	display: none !important;
}




/*.middle {
	margin-top: -942px;
	line-height: 1.3;
}

.about_middle {
	margin-top: -810px;
	line-height: 1.3;
}*/

.middle_image {
	color: white;
	height: 580px;
	/*padding: 4em 0 !important	;*/
}	



.middle_image.started_with {background: url("../images/home_header.jpg") no-repeat center; background-size: cover; width:100% /*z-index:-1;*/}
.middleSquares {background: url("../images/home_middle_squares.png") no-repeat center; width:1170px; height:580px; position: absolute; /*z-index: -3;*/}
body.about .middle_image   {background: url("../images/about_middle2.jpg") no-repeat center; width:100%; height:580px; /*z-index:-3;*/}
body.about .middleSquares {background: url("../images/home_middle_squares.png") no-repeat center; width:1170px; height:580px; /*z-index:-1;*/}


.section-title {
	margin-bottom: 2em;
	text-transform: uppercase;
	position: relative;
	line-height:1.3;
}

.section-title.page-title {
	margin: 1em 0 0.5em;
	font-size: 4em;
	font-weight: bold;
}

.section-title.bordered,
h3.bordered {
	padding-bottom: 2em;
}

body.contact h3.bordered {
	margin-bottom: 2em;
}

.middle_image .section-title {
	text-align: center;
	margin: 2em auto 4em;
}

.testimonial {
	margin-bottom: 2em;
}

.testimonial .testimonial-body,
.testimonial .testimonial-author {
	width: 60%;
	margin: 0 auto;
}

.testimonial .testimonial-body {
	font-size: 1.4em;
	font-style: italic;
	text-align: center;
}

.testimonial .testimonial-author {
	text-align: right;
	margin-top: 1.5em;
}

.testimonial .testimonial-body::before,
.testimonial .testimonial-body::after,
.testimonial .testimonial-body .paragraph::before,
.testimonial .testimonial-body .paragraph::after  {content: "\"";}

.testimonial .testimonial-body.no-quotes::before,
.testimonial .testimonial-body.no-quotes::after  {content: "";}

.our_clients .item {
	background: url("../images/icon-ledcor.png") no-repeat top center;
	text-indent: -9999px;
	width: 140px;
}

.our_clients .item:nth-child(2n){
	background-image: url("../images/icon-willbros.png");
}

.paragraph {
	font-size: 1.2em;
	padding-bottom: 1.3em;
}

/* Services Page -------------*/

body.services .section-title {
	font-size: 2em;
}

body.services .content-container section p.item-desc {
	text-align: left;
	width: 205px;
}

body.services .content-container section .item {
	/*height: auto;*/
	height: 205px;
}

body.services .content-container section {
	margin-bottom: 2em;
}

body.services .serviceTitle {
	font-size:1.4em;
}

body.services .page-title {
	font-size:4em;
}

/*body.services #headerBg,
body.news #headerBg {
	height: 281px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}
*/
/*body.services #squares,
body.news #headerBg {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 281px;
}*/

body:not(.home) #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body:not(.home) #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}

a:hover, a:focus {
	text-decoration:none;
	color:#434343;
}
.post_infos {
	display:none;
}
.news-list {
	margin-top:50px;
}
.news-list .post-thumbnail {
	margin-top:22px;
}
body.blog .news-list .post-thumbnail {
	margin-top:5px;
}

nav.nav-single {
	display:none;
}
.hide {
	display:none;
}




/* Gallery Page -------------*/

body.gallery #headerBg {
	background-image: url("../images/gallery_top.jpg");
	background-size:cover;
	height:665px;
}

body.gallery #squares {
	background:url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 665px;
}

#gallery-1 {
	margin: 50px auto !important;
}

#gallery-1 img {
	border: none !important;
}


/* Careers Page -------------*/

body.job-board #headerBg {
	height: 665px;
	background-image: url("../images/careers_top.jpg");
	background-size: cover;
}

body.job-board #squares {
	background:url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 665px;
}

aside[class^="static-sidebar-"] ul {
	list-style: none;
	padding: 0px;
}

aside[class^="static-sidebar-"] input[type="text"] {
	border-width: 0px;
}

aside[class^="static-sidebar-"] .wpjb-widget-smart-alert {
	border-width: 0px;
	padding: 0px;
}

/* History Page -------------*/

body.history #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.history #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}
#section-1 .section-title {
	/*margin-top: 0px;*/
	letter-spacing: 1.5px;
}
body.history .middle_image {background: url("../images/history_middle2.jpg") no-repeat center; width:100%; height:580px;}
body.history .middleSquares {background: url("../images/home_middle_squares.png") no-repeat center; width:1170px; height:580px; /*z-index:-1;*/}


/* Leadership Page -------------*/

body.leadership #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.leadership #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}
.dale, .miles {
	background:url("../images/user_profile.jpg") no-repeat top left;
	width:100px;
	height:100px;
	float: left;
}



/* Clients Page -------------*/

body.clients #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.clients #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}





/* News Page -------------*/

body.news #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.news #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}




/* Contact Page -------------*/

body.contact #headerBg {
	height: 220px;
	background-image: url("../images/top_narrow.jpg");
	background-size: cover;
}

body.contact #squares {
	background: url("../images/home_header_squares_only.png") no-repeat center;
	padding: 2.5em 0;
	height: 220px;
}
body.contact .col-md-6 {
	margin-top:-10px;
}





/* Request A Quote form -------------*/

.form-control {
	background-color: #e5e5e5;
	padding: 12px 12px;
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
	padding: 6px 30px;
}

/** Job Board **/

body.job header.top .widget-banner {
	display: none; /* remove header widgets from job board details pages */
}

#wpjb-main .wpjb-table tbody {
	border-top:1px solid #D9D9D9 !important;;
}
.form-control {
	padding:22px !important;;
	-webkit-box-shaddow: 0px !important;
	box-shaddow:inset 0px !important;
	
}
.btn-default {
	background-image:none;
	background:#335084;
	color:#fff;
	text-shadow: 0px transparent !important;
	border-color:#335084;
}
.btn {
	padding:10px 30px;
}
#wpjb-main table.wpjb-info tbody {
	border-top:1px;
}
a.wpjb-button, input[type="submit"] {
	border:0;
	border-radius:0px;
	-webkit-border-radius: 0px;
}
a.wpjb-button:hover {
	border:0px;
}
.wpjb-none {
	border:0px;
	padding:5px;
}
input, textarea {
	border:0px;
	background-color:#e5e5e5;
	padding:14px;
}
.wpjb-form-slider {
	border:0px !important;
}
.wpjb-form input.wpjb-submit {
	background:#335084;
	color:#fff;
}
.wpjb-form input.wpjb-submit:hover {
	background:#e5e5e5;
	color:#434343;
}
.wpjb-form-toggle {
	background:#e5e5e5 !important;
	-webkit-border-radius:0px !important;
	border:0 !important;
	padding:15px 20px !important;
}
input[type="submit"] {
	background:#335084;
	color:#fff;
	padding:10px 25px;
}
input[type="submit"]:hover {
	background:#e5e5e5;
	color:#434343;
	padding:10px 25px;
}











/**
 * Footer elements
 */
footer.section-footer {
	background-color: #e5e5e5;
	float: left;
	width: 100%;
	margin-top: 2em;
}

footer.section-footer .columns>ul {
	list-style: none !important;
}

footer.section-footer h2 {
	color: #335084;
	margin-bottom: 1.5em;
	font-size: 1.8em;
}

footer.section-footer .copyright {
	border-top: 1px solid #444;
	padding-top: 1em;
	font-size: 0.9em;
}

footer.section-footer .copyright div:nth-child(2){
	text-align: right;
}

footer.section-footer ul[class^="col"]>li {
	margin-bottom: 2em;
}

footer.section-footer .social-icons {
	padding: 0px;
	margin-top: 1.5em;
}

footer.section-footer .social-icons a {
	background-position: center left;
	text-align: left;
	margin-right: 9px;
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 20px;
}

footer.section-footer .social-icons a.facebook {background-image: url("../images/social-icons/footer/facebook.png");}
footer.section-footer .social-icons a.youtube  {background-image: url("../images/social-icons/footer/youtube.png");}
footer.section-footer .social-icons a.twitter  {background-image: url("../images/social-icons/footer/twitter.png");}
footer.section-footer .social-icons a.linkedin {background-image: url("../images/social-icons/footer/linkedin.png");}
footer.section-footer .social-icons a.email    {background-image: url("../images/social-icons/footer/mail.png");}

footer.section-footer h3 {
	margin: 0 0 0.2em 0;
}

footer.section-footer p {
	margin-bottom: 0.2em;
}

footer.section-footer p.paragraph {
	margin-bottom: 0;
	padding-bottom: 0;
}

footer.section-footer p:last-child {
	margin-bottom: 1.5em;
}

/**
 * News page
 */
body.news .news-list .post_date {
	display: none;
}

body.news .content-container {
	margin-top: 15px;
}

.news-list .row>article {
	margin-bottom: 3.5em;
	line-height: 1.7em;
}

.col-md-3.col-2 ul li {
	text-transform: uppercase;
}

.col-md-3.col-2 ul li:hover {
	text-decoration: none;
	color: #434343;
}

.news-list .post_content_holder h2 {
	margin-top: 0px;
}

.news-list .post-thumbnail {
	max-width: 100%;	
}

.news-list.view-detail .col-md-12 {
	margin-top: 2em;
}

/**
 * Leadership page
 */
body.leadership .section-container {
	margin-top: 2em;
}

body.leadership .section-container .col-md-10,
body.leadership .section-container .col-md-2 {
	margin-top: 1em;
}

body.leadership .grid-image {
	margin: 33px 15px 0 0;
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	#headerBg {
		background: #4f709d url("../images/home_middle.jpg") no-repeat center;
		background-size: cover;
		/*padding: 2.5em 0;*/
		height: 1250px;
	}
	.middleSquares {background: url("../images/home_middle_squares_only.png") no-repeat center; width:1170px; height:1000px; position: absolute; /*z-index: -3;*/}
	.middle_image.started_with {background: url("../images/home_header.jpg") no-repeat center; background-size: cover; height:1000px; /*z-index:-1;*/}
	.widget-banner h1 {
		margin-top:290px;
	}
	#squares {
		background:url("../images/home_header_squares_only.png") no-repeat center;
		padding: 2.5em 0;
		height: 1250px;
	}
	body.gallery #headerBg {
		height: 1043px;
		background-image: url("../images/gallery_top.jpg");
		background-size: cover;
	}

	body.gallery #squares {
		background: url("../images/home_header_squares_only.png") no-repeat center;
		padding: 2.5em 0;
		height: 1043px;
	}
	body.about .middle_image   {background: url("../images/about_middle.jpg") no-repeat center; background-size: cover; height:950px; /*z-index:-3;*/}
	body.about .middleSquares {background: url("../images/home_middle_squares_only.png") no-repeat center; width:1170px; height:950px; /*z-index:-1;*/}
	body.history .middle_image {background: url("../images/history_middle.jpg") no-repeat center; background-size: cover; height:850px;}
	body.history .middleSquares {background: url("../images/home_middle_squares_only.png") no-repeat center; width:1170px; height:850px; /*z-index:-1;*/}

	body.history .item.white_square,
	body.history .item.blue_square {
		top: 290px;
		}
	body.gallery #headerBg {
		height: 1043px;
		background-image: url("../images/gallery_top.jpg");
		background-size: cover;
	}
	body.gallery #squares {
		background: url("../images/home_header_squares_only.png") no-repeat center;
		padding: 2.5em 0;
		height: 1043px;
	}
	body.job-board #headerBg {
		height: 950px;
		background-image: url("../images/careers_top.jpg");
		background-size: cover;
	}
	body.job-board #squares {
		background: url("../images/home_header_squares_only.png") no-repeat center;
		padding: 2.5em 0;
		height: 950px;
	}
	body.home .item.white_square {
		width: 193px;
		height: 193px;
		background: rgba(255, 255, 255, 0.7);
		top: 93px;
		left: -79px;
		padding: 25px;
	}
	body.home .item.read_more {
		background-image: url("../images/icon-pioneer-sm.png");
		top: 93px;
		left: -79px;
		padding: 25px;
		padding: 50px 25px 10px;
		background-position-y: 38px;
	}
	body.about .item.read_more {
		background-image: url("../images/icon-pioneer-sm.png");
		top: -10px;
		left: -79px;
		padding: 25px;
		padding: 50px 25px 10px;
		background-position-y: 38px;
	}
	body.about .item.white_square {
		width: 193px;
		height: 193px;
		background: rgba(255, 255, 255, 0.7);
		top: -10px;
		left: -79px;
		padding: 25px;
	}



}




/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

		html,body {
   			width: 100%;
   			height: auto;
   			margin: 0px;
   			padding: 0px;
   			overflow-x: hidden; 
   		}
		body {
			min-width: 100%;
		}
		.middleSquares, body.about .middleSquares, body.history .middleSquares{
			width: 959px;
			margin-left:-50px;
		}
		body.home .item.white_square {
			left: -40px;
		}
		body.home .item.read_more {
			top: 38px;
			left: -40px;
		}
		section.services .item {
			width: 115px;
		}	
		body.services .col-md-12.row .col-md-3 h2 {
			font-size:1em;
		}
		.news-list .post-thumbnail {
			margin-top: 5px;
		}
		.toll-free {
			color:#fff;
		}
		#gallery-1 .gallery-item {
			width: 20% !important;
		}
		.search input[type="image"] {
			margin-left: -25px !important;
		}
		
		
		
		

}


@media screen and (max-width: 992px) {

	.big {
		width: auto;
	}

	footer.section-footer .copyright div:nth-child(2){
		text-align: left;
	}
	body.contact iframe {
		width: 100%;
		margin-bottom: 2em;
	}
	.our_clients .item {
		width: inherit;
	}
	.top-search>* {
		text-align: left;
	}
	.top-search input[type="text"]  {right: 0px;}
	.top-search input[type="image"] {left: -4px;}

	.top-search .request-quote {
		float: none;
	}
	body.services .icon.item {
		margin: 0 auto;
	}
	footer.section-footer .social-icons a {
		float: left;
	}
	body.blog .news-list .post_content_holder h2 {
		margin: 1em 0 0.5em 0;
	}
	
	
	
	
	
	html,body {
   		width: 100%;
    	height: auto;
    	margin: 0px;
    	padding: 0px;
		overflow-x: hidden; 
	}
	.widget-banner h1 {
		margin-top:90px;
	}
	.qualities {
		width:100%;
		margin-left:0px !important;
		margin-bottom:15px;
	}
	section.services .item {
		width: 170px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		margin: 2em auto;
		margin-left: 0.5em;
	}
	section.services .view_all_services .item-desc {
		margin: 130px 0;
	}
	footer.section-footer ul[class^="col"]>li {
		margin-bottom: 2em;
		width: 38%;
		float: left;
		margin-right: 9%;
		margin-left: 1%;
	}
	body.home .item.white_square, body.home .item.read_more, body.about .item.read_more, body.about .item.white_square, body.history .item.white_square, body.history .item.read_more {
		display: none;
	}
	.glyphicon {
		display:none !important;
	}
	section.services {
		height:420px !important;
		padding-right:0px !important;
	}
	section.services .view_all_services .item-desc {
		margin-top:-160px;
		width:120px;
	}
/*	li#text-5 {
		margin-top:-463px !important;
	} */
	#text-5 .email {
		display:none;
	}
	.dale, .miles {
		display: none !important;
	}	
	.search input[type="image"] { /* search image icon */
		position: relative;
		top: 8px;
		margin-left: -20px !important;
		background-color: #919191;
		padding: 6px 5px 5px;
	}
	.search input[type="text"] { /* search form */
		background-color: #919191;
		position: relative;
		border-width: 0px;
		padding: 3px;
		outline: 0;
		right: -8px;
		width: 135px;
		margin-bottom:10px;
	}
	.social-icons {
		margin-top:55px;
	}
	.container {
		padding-right:5px;
		padding-left:5px;
	}
	#gallery-1 .gallery-item {
		width: 29% !important;
	}
	dl {
		margin-bottom: -6px !important;
	}
	#gallery-1 {
		margin: -5px auto !important;
	}
	
	body.gallery #headerBg, body.gallery #squares {
		height:465px;
	}
	body.services .serviceTitle, body.services .content-container section p.item-desc {
		margin-left:27% !important;
	}
	body.job-board #headerBg, body.job-board #squares {
		height:690px;
	}
	
	
	
	
	
	
	
	
	
	
	
}






/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

	html,body {
   		width: 100%;
    	height: auto;
    	margin: 0px;
    	padding: 0px;
		overflow-x: hidden; 
	}

	body {
		min-width: 100%;
	}
	.desktop-menu li a {
		min-width: 90px;
	}
	.desktop-menu ul {
		position:relative;
	}
	body.home .col-md-10, body:not(.page-template-page-home-php) .col-md-10 {
		float:right;
	}
	body.home .col-md-2, body:not(.page-template-page-home-php) .col-md-2{
		float:left;
	}
	section.services .item {
		width: 170px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		height: 300px !important;
		padding-right: 0px !important;
	}
	section.services .view_all_services .item-desc {
		margin-top: 120px;
		width: 200px;
	}
	.qualities .item {
		float:left;
	}
	.qualitites {
		width:100%;
		margin:0 auto;
	}
	footer.section-footer ul[class^="col"]>li {
		margin-bottom: 2em;
		width: 40%;
		float: left;
		margin-right: 5%;
		margin-left: 5%;
	}
	.middleSquares, body.about .middleSquares, body.history .middleSquares {
		width:721px;
	}
	/*.gallery-item, .gallery-img {
		width: 20% !important;
	}
	#gallery-1 {
		padding:5px !important;
	}*/
	body.services .col-md-12.row .col-md-3 h2 {
		font-size:1em;
	}
	/*body.services .content-container section {
		width: 40%;
		float: left;
		margin-left: 7%;
	}*/
	body.services .grid.item {
		width:40%;
		float:left;
		margin-left:7%;
	}
	.news-list .post-thumbnail {
		margin-bottom: 15px;
	}
	body.services .item p {
		width:200px;
		margin:0 auto;
	}
	body.services .serviceTitle {
		font-size:1.5em !important;
		padding:5px 0 !important;
	}
	.toll-free {
		color:#fff;
	}
	.qualities {
		margin-left:25% !important;
		margin-bottom:15px;
	}
	#gallery-1 .gallery-item {
		width: 25% !important;
	}
	.dale, .miles {
		display: none !important;
	}	
	#text-4 {
		margin-top:-100px;
	}
	footer.section-footer .social-icons {
		padding: 0px;
		margin-top: -1.5em;
	}
	.social-icons {
		margin-top: 5px;
	}
	body.about .btn {
		margin-bottom:20px;
	}
	
	
	

}












/* iPhone Landscape */
@media screen and (max-width: 480px) and (orientation: landscape) {


	html,body {
   		width: 100%;
    	height: auto;
    	margin: 0px;
    	padding: 0px;
		overflow-x: hidden; 
	}
	.widget-banner h1 {
		margin-top:90px;
	}
	.qualities {
		width:450px;
		margin-left:-15px !important;
		margin-bottom:15px;
	}
	section.services .item {
		width: 170px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		height: 470px;
		margin: 2em auto;
		margin-left: 2em;
	}
	section.services .view_all_services .item-desc {
		margin: 130px 0;
	}
	footer.section-footer ul[class^="col"]>li {
		margin-bottom: 2em;
		width: 38%;
		float: left;
		margin-right: 9%;
		margin-left: 1%;
	}
	body.home .item.white_square, body.home .item.read_more, body.about .item.read_more, body.about .item.white_square, body.history .item.white_square, body.history .item.read_more {
		display: none;
	}
	.glyphicon {
		display:none !important;
	}
	section.services {
		height:550px !important;
		padding-right:20px !important;
	}
	section.services .view_all_services .item-desc {
		margin-top:-160px;
		width:120px;
	}
/*	li#text-5 {
		margin-top:-463px !important;
	} */
	#text-5 .email {
		display:none;
	}
	.dale, .miles {
		display: none !important;
	}	
	.search input[type="image"] { /* search image icon */
		position: relative;
		top: 8px;
		margin-left: -20px !important;
		background-color: #919191;
		padding: 6px 5px 5px;
	}
	.search input[type="text"] { /* search form */
		background-color: #919191;
		position: relative;
		border-width: 0px;
		padding: 3px;
		outline: 0;
		right: -8px;
		width: 135px;
		margin-bottom:10px;
	}
	.social-icons {
		margin-top:55px;
	}
	.container {
		padding-right:5px;
		padding-left:5px;
	}
	#gallery-1 .gallery-item {
		width: 33% !important;
	}
	dl {
		margin-bottom: -6px !important;
	}
	#gallery-1 {
		margin: -5px auto !important;
	}
	
	body.gallery #headerBg, body.gallery #squares {
		height:465px;
	}
	body.services .serviceTitle, body.services .content-container section p.item-desc {
		margin-left:27% !important;
	}
	body.job-board #headerBg, body.job-board #squares {
		height:690px;
	}
	
	
	
	
	
	
	
	
}


/* iPhone Portrait */
@media screen and (max-width: 320px) and (orientation: portrait) {


	html,body {
   		width: 100%;
    	height: auto;
    	margin: 0px;
    	padding: 0px;
		overflow-x: hidden; 
	}
	.widget-banner h1 {
		margin-top:20px;
	}
	.qualities {
		width:300px;
		margin-left:0% !important;
		margin-bottom:15px;
	}
	section.services .item {
		width: 115px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		height: 300px;
		margin: 2em auto;
		margin-left: 2em;
	}
	section.services .view_all_services .item-desc {
		margin: 130px 0;
	}
	section.services {
		height:550px !important;
		padding-right:20px !important;
	}
	section.services .view_all_services .item-desc {
		margin-top:-160px;
		width:120px;
	}
	body.home .item.white_square, body.home .item.read_more, body.about .item.read_more, body.about .item.white_square, body.history .item.white_square, body.history .item.read_more {
		display: none;
	}
	.glyphicon {
		display:none !important;
	}
	body:not(.home) #headerBg, body:not(.home) #squares {
		height:120px;
	}
	h2 {
		font-size:28px;
	}
	.dale, .miles {
		display: none !important;
	}
	.search input[type="image"] { /* search image icon */
		position: relative;
		top: 8px;
		margin-left: -20px !important;
		background-color: #919191;
		padding: 6px 5px 5px;
	}
	.search input[type="text"] { /* search form */
		background-color: #919191;
		position: relative;
		border-width: 0px;
		padding: 3px;
		outline: 0;
		right: -8px;
		width: 135px;
		margin-bottom:10px;
	}
	.social-icons {
		margin-top:55px;
	}
	body.services p {
		margin-left:10%;
	}
	body.services .serviceTitle {
		padding-left:10% !important;
	}
	body.services .page-title, body.about .page-title, body.home .page-title, body.history .page-title, body.leadership .page-title, body.gallery .page-title, body.news .page-title, body.contact .page-title {
		font-size:3.2em;
	}
	.small {
		font-size:2.5em !important;
	}
	.container {
		padding-right:5px;
		padding-left:5px;
	}
	#gallery-1 .gallery-item {
		width: 50% !important;
	}
	dl {
		margin-bottom: -6px !important;
	}
	#gallery-1 {
		margin: -5px auto !important;
	}







}


/* Blackberry z10  */
@media screen and (max-width: 345px) and (orientation: portrait) {
	section.services .item {
		width: 115px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		height: 300px;
		margin: 2em auto;
		margin-left: 2em;
	}
	section.services .view_all_services .item-desc {
		margin: 130px 0;
	}
	section.services {
		height:550px !important;
		padding-right:20px !important;
	}
	section.services .view_all_services .item-desc {
		margin-top:-160px;
		width:120px;
	}

}


/* iPhone 4 & 5 ----------- */
/*@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

	html,body {
   		width: 100%;
    	height: auto;
    	margin: 0px;
    	padding: 0px;
		overflow-x: hidden; 
	}

	.glyphicon {
		display:none !important;
	}
	.qualities .item {
		float:left;
	}
	.qualitites {
		width:300px;
		margin-left:15%;
	}
	.qualities {
		margin-left:25% !important;
		margin-bottom:15px;
	}
	section.services .item {
		width: 170px !important;
		float: left !important;
		margin-bottom:0;
	}
	section.services {
		height: 300px;
		margin: 2em auto;
		margin-left: 2em;
	}
	section.services .view_all_services .item-desc {
		margin: 130px 0;
	}
	footer.section-footer ul[class^="col"]>li {
		margin-bottom: 2em;
		width: 40%;
		float: left;
		margin-right: 5%;
		margin-left: 5%;
	}
	section.services .item {
		width: 130px !important;
		float: left !important;
		margin-bottom:0;
	}









}*/

/**
 * IE overrides
 */
html.name-ie .form-control,
html.name-firefox .form-control {
	padding: 6px 12px !important;
}
